.annonces-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.annonce-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  max-width: 600px;

  h3 {
    margin-top: 0;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
